@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #FFBC24, #FFD340);
}

main {
    background-color: #008CDB;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #20448c7a;
    width: 600px;
    padding: 20px;
    margin: auto;
     
}

h1 {
    color: #FFD340;
    text-align: center;
    text-shadow: 1px 1px 0px #c8941d8b;
}

h2 {
    color: rgb(241, 241, 241)
}
p {
    text-align: justify;
    color: beige;
}